@import "../../styles/variables";
@import "../../styles/media";

.about {
  .bio {
    text-align: center;
    p span {
      font-family: "Roboto Slab";
      font-weight: 600;
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }
    .photoContainer {
      --size: 14rem;
      position: relative;
      display: grid;
      row-gap: 2rem;
      width: var(--size);
      height: var(--size);
      margin: 0 auto;
      border-radius: 100vw;
      border: 0.25rem solid get-color("green");
      background-image: url("../../static/social/photo.jpg");
      object-fit: cover;
      background-size: cover;
    }
  }
  .progSkills {
    ul {
      display: grid;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
    }
    .loadMoreButton {
      border: 0.25rem solid get-color("green");
    }
  }
}

@include media(get-breakpoint("medium")) {
  .about {
    align-items: center;
    .essentialSkills {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: stretch;
        li:nth-child(3) {
          position: relative;
          left: 50%;
        }
      }
    }
    .progSkills {
      .loadMoreButton {
        display: none;
      }
      ul {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@include media(get-breakpoint("large")) {
  .about {
    display: grid;
    row-gap: 4rem;
    .bio {
      display: grid;
      grid-template-areas: "bio photo";
      grid-template-columns: auto 16rem;
      column-gap: 2.5rem;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      p {
        grid-area: bio;
        max-width: 40ch;
        font-family: "Roboto Slab";
        span {
          font-size: 3rem;
        }
      }
      .photoContainer {
        grid-area: photo;
        --size: 16rem;
      }
    }
    .essentialSkills {
      ul {
        grid-template-columns: repeat(3, 1fr);
        li:nth-child(3) {
          left: unset;
        }
      }
    }
    .progSkills ul {
      grid-template-columns: repeat(auto-fill, minmax(10.5rem, 1fr));
    }
  }
}
