@import '../../styles/variables';
@import '../../styles/media';

.contentWrap {
  max-width: var(--content-wrap-width);
  padding: var(--content-wrap-padding);
  margin: 0 auto;
  background-color: transparent;
}