@import "../../styles/variables";
@import "../../styles/media";

.skill {
  text-align: center;
  font-family: "Roboto Slab";
  .imageContainer {
    --size: 6rem;
    position: relative;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    border-radius: 100vw;
    border: 0.25rem solid get-color("green");
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 3rem;
      height: 3rem;
      transform: translate(-50%, -50%);
    }
  }
  figcaption {
    p {
      font-size: 0.85rem;
      padding: 0;
      margin: 0;
    }
    .title {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
      color: get-color("green");
    }
  }
}
