@import "./styles/variables";
@import "./styles/media";

:root {
  --content-wrap-width: 100rem;
  --content-wrap-padding: 5rem 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  font-size: 1.25rem;
  color: get-color("dark");
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

a {
  color: get-color("dark");
  text-decoration: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2 {
  font-family: "Roboto Slab";
  text-align: center;
  padding: 0;
  margin: 2rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

@include media(get-breakpoint("medium")) {
  :root {
    --content-wrap-padding: 2.5rem 5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
}

@include media(get-breakpoint("large")) {
  :root {
    --content-wrap-padding: 3rem 10.75rem;
  }
}
